// ! header
.header {
	.sup_header {
		padding-block: 15px;
		background: #1a1a25;
		border-bottom: solid rgba(133, 143, 164, 0.15);
		.content {
			display: flex;
			justify-content: space-between;
			align-content: center;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 221.46px;
					height: 39px;
				}
			}
			.nav {
				ul {
					display: flex;
					gap: 8px;
					justify-content: center;
					align-items: center;
					li {
						.link {
							padding: 12px 14px;

							display: block;
							border-radius: 4px;

							font-size: 16px;
							font-weight: 400;
							line-height: 140%;
							color: rgb(255, 255, 255);

							transition: 0.2s;

							&:hover {
								background: rgba(133, 143, 164, 0.05);
							}
							&.active {
								background: rgba(133, 143, 164, 0.15);
							}
						}
					}
				}
			}
			.right {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 30px;
				.phone {
					color: rgb(255, 255, 255);
					font-size: 16px;
					font-weight: 500;
					line-height: 19px;
					text-align: left;
				}
				.profile {
					width: 30px;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					background: #ffffff;
					border-radius: 50%;
					border: none;
					outline: none;
					svg {
						color: black;
					}
				}
			}
		}
	}

	.sub_header {
		padding-block: 24px;
		background: #1a1a25;

		transition: 0.2s;
		&.fixed {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			padding-block: 14px;
		}

		.content {
			display: flex;
			gap: 20px;
			justify-content: space-between;
			align-items: center;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 221.46px;
					height: 39px;
				}
			}
			.catalog_button {
				padding: 12px 20px;

				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;

				border-radius: 4px;
				background: rgb(203, 17, 171);
				border: none;
				outline: none;

				font-size: 16px;
				font-weight: 700;
				line-height: 19px;
				color: rgb(255, 255, 255);

				cursor: pointer;
			}
			.search {
				width: 100%;
				max-width: 785px;
			}
			.contact_icons {
				display: flex;
				gap: 22px;
				justify-content: center;
				align-items: center;
				a {
					color: rgb(255, 255, 255);
					svg {
						width: 24px;
						height: 24px;
					}
				}
			}
			.nav_icons {
				ul {
					display: flex;
					gap: 22px;
					justify-content: center;
					align-items: center;
					li {
						align-items: center;
						a {
							color: rgb(255, 255, 255);
							svg {
								width: 24px;
								height: 24px;
							}
						}
					}
				}
			}
		}
	}

	.mobile_header {
		padding-block: 12px;
		background: #1a1a25;
		.content {
			display: flex;
			gap: 10px;
			justify-content: space-between;
			align-items: center;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 170px;
					height: 30px;
					@media (max-width: 450px) {
						width: 140px;
						height: 25px;
					}
				}
			}
			.search {
				width: 100%;
				max-width: 785px;
			}
		}
	}
}
