.Header {
	position: sticky;
	top: 0;
	z-index: 999;
	padding-block: 22px;
	background: #1a1a25;
	transition: 0.2s;

	&.active {
		padding-block: 16px;
	}

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 100px;

		.button_catalog_search {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 35px;
			@media (max-width: 1170px) {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 15px;
			}

			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #fff;
			}

			.catalog {
				cursor: pointer;
				padding: 14px 20px 15px 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 8px;
				background: #cb11ab;
				color: white;
				border: none;
				font-size: 16px;
				font-weight: 700;
				line-height: 19px;
				border-radius: 4px;
			}

			.hr_line {
				width: 0.9px;
				height: 40px;
				background: rgba(133, 143, 164, 0.15);
				transform: rotate(900deg);
			}

			.search {
				width: 100%;
			}
		}

		.contact_icons {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 25px;

			.icon {
				cursor: pointer;
				color: white;
				transition: 0.2s;
				&:hover {
					color: #cb11ab;
				}
			}
		}

		.page_icons {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 35px;

			.icon {
				position: relative;
				cursor: pointer;
				color: #fff;
				transition: 0.2s;

				&:hover {
					color: #cb11ab;
				}

				span {
					position: absolute;
					top: -5px;
					left: 15px;
					width: 20px;
					height: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					background: gray;
					font-size: 10px;
					color: white;
				}
			}
		}
	}
}
